section.contact .container ul.office-tab {
  margin: 0 auto;
  padding: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
}
section.contact .container ul.office-tab li {
  -webkit-flex: 1 0 auto;
          flex: 1 0 auto;
  white-space: nowrap;
  margin: 1rem 0.4rem;
  cursor: pointer;
  text-align: center;
}
@media screen and (max-width: $ipad) {
  section.contact .container ul.office-tab li {
    margin: 0.6rem;
  }
}
@media screen and (max-width: $iphone5) {
  section.contact .container ul.office-tab li {
    margin: 0.1rem;
  }
}
section.contact .container ul.office-tab li a {
  font-size: 25%;
  transition: $transition;
}
section.contact .container ul.office-tab li a:hover {
  color: $specialRed;
}
section.contact .container ul.office-tab li a:before {
  content: '';
  width: 0.3rem;
  height: 0.3rem;
  display: block;
  margin: 0.1rem auto;
}
section.contact .container ul.office-tab li a.office-tab--active {
  color: $specialRed;
}
section.contact .container ul.office-tab li a.office-tab--active:before {
  background-image: url("../images/icon_pin.svg");
  background-repeat: no-repeat;
}
section.contact .container #offices {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
          flex-flow: column wrap;
  margin: 1rem auto;
  width: 100%;
}
section.contact .container #offices address {
  width: 100%;
}
section.contact .container #offices address .hide {
  display: none;
}
section.contact .container #offices address .adr {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  font-weight: 500;
  text-align: center;
}
section.contact .container #offices address .adr span,
section.contact .container #offices address .adr a {
  line-height: 200%;
}
section.contact .container #offices address .adr span:after,
section.contact .container #offices address .adr a:after {
  margin: 0 auto;
}
section.contact .container #offices address .adr .location {
  display: -webkit-flex;
  display: flex;
}
section.contact .container #offices address .adr .location span {
  margin: 0 0.2rem;
}
section.contact .container #offices address .call,
section.contact .container #offices address .info {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  font-size: 55%;
}
section.contact .container #offices address .call {
  -webkit-flex-flow: row nowrap;
          flex-flow: row nowrap;
  white-space: nowrap;
  -webkit-flex: 1 0 150px;
          flex: 1 0 150px;
}
@media screen and (max-width: $iphone5) {
  section.contact .container #offices address .call {
    -webkit-flex-flow: column wrap;
            flex-flow: column wrap;
  }
}
section.contact .container #offices address .call .fax,
section.contact .container #offices address .call .tel {
  display: inline-block;
  margin: 0 1rem;
  padding: 0;
}
section.contact .container #offices address .info {
  margin: 1rem 0;
}
section.contact .container .social {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-align-items: center;
          align-items: center;
  width: 100%;
  -webkit-justify-content: center;
          justify-content: center;
  text-align: center;
}
section.contact .container .social .slogan {
  font-weight: 900;
  line-height: 90%;
  text-transform: uppercase;
  margin: 5rem auto 2rem;
}
section.contact .container .social ul.links {
  display: -webkit-flex;
  display: flex;
  padding: 0;
  width: 100%;
  -webkit-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: center;
          justify-content: center;
}
section.contact .container .social ul.links li {
  -webkit-flex: 1 0 150px;
          flex: 1 0 150px;
  margin: 0.4rem 0;
  font-size: 55%;
}
@media screen and (max-width: $iphone6) {
  section.contact .container .social ul.links li {
    font-size: 75%;
  }
}
section.contact .container .social ul.links li a {
  font-weight: 600;
}
section.contact .container ul.forces {
  margin: 4.5rem auto 1rem auto;
  padding: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
          flex-flow: row wrap;
}
section.contact .container ul.forces li {
  -webkit-flex: 1 0 25%;
          flex: 1 0 25%;
}
@media screen and (max-width: $ipad) {
  section.contact .container ul.forces li {
    -webkit-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}
@media screen and (max-width: 400px) {
  section.contact .container ul.forces li {
    -webkit-flex: 1 0 100%;
            flex: 1 0 100%;
  }
}
section.contact .container ul.forces li span {
  padding: 10px;
  display: block;
  font-size: 35%;
}
section.contact .container ul.forces li span .force-name {
  margin: 0.5rem 0;
  font-weight: 600;
}
section.contact .container ul.forces li span .force-address,
section.contact .container ul.forces li span .force-tel,
section.contact .container ul.forces li span .force-fax {
  font-weight: 400;
  font-size: 60%;
  line-height: 200%;
}

/*# sourceMappingURL=contact.css.map */
