

*
	color inherit
	z-index 5
	position relative
	letter-spacing 0.04em
	font-weight: 300;
	&:focus
		outline none


html
	max-width: 100vw; //! not change
	overflow: hidden; //!
	@media screen and (max-width: $iphone6H)
		font-size: 52px;
	@media screen and (max-width: $iphone)
		font-size: 46px;
	body
		#app
			display: flex
			flex 1 0 auto
			flex-flow column nowrap
			height 100% //!

			section
				width 100%
				min-width 100vw
				flex 1 0 auto
				max-width: 100%;
				width: 100vw;
				min-width: 100%;
				overflow hidden

				.container 
					flex 1 0 auto
					margin auto
					display: flex;
					align-items: flex-start;
					max-width: $max-width
					width 100%
					padding 0 $overpadding

			@import 'assets/*.styl'
			@import 'pages/*.styl'