section.header
	position: absolute;
	z-index: 10;
	color $white
	background-color: $headerBg
	&.index_layer
		background-color: transparent
		
	.container
		display flex
		justify-content space-between
		flex-flow row nowrap
		align-items center
		justify-content center
		padding: 75px 15px;
		@media screen and (max-width: $desktop)
			padding: 15px;
		.column
			display flex
			flex: 1 0 auto;
			align-self: center;
			flex-flow row nowrap
			font-size 31%
			
			&.serv
				flex: 0 0 210px;
				align-items center
				justify-content: space-between;
				margin-right: 1rem;
				.logo
					align-self: center;
					img
						width 67px
						height 67px
						@media screen and (max-width: $desktop)
							width 50px
							height 50px
					&:before 
						content: ''; 
						left: -16px; 
						top: -80px; 
						height: 160px; 
						width: 100px; 
						background: #121212; 
						position: absolute;
						@media screen and (max-width: $desktop)
							width: 84px; 

				.location
					display: flex;
					text-align: center;
					align-items: center;
					cursor pointer
					visibility: hidden; 
					img
						margin: auto 10px;
						width: .3rem;
						height: .3rem;
					span
						font-size 65%
						transition: $transition
					&:hover
						span
							color $specialRed
			&.feedback
				justify-content: flex-end;
				flex: 0 0 210px;
				.feedback_container
					text-align: center;
					display: flex;
					transition $transition
					a.inner
						display flex
						align-items center
						transition: $transition

						span
							color: #1d1e1e;
							font-weight: 500;
						img
							width .3rem
							height .3rem
							margin: auto $overpadding;
					&:hover
						cursor pointer
						a.inner span
							color $specialRed			
			&.menu
				.top_menu
					display flex 
					padding 0
					margin: auto;
					width: 100%;
					justify-content: center
					li
						margin: 0 auto;
						text-align: center;
						transition $transition
						a
							color: #1d1e1e;
							font-weight: 500;
							&:hover
								color #ff002e		
			@media screen and (max-width: $desktop)
				&.serv
					flex 1
					.location
						display none
				&.feedback
					display none
				&.menu
					display none
			