section.mobile_menu
	@media all and (min-width: $desktop)
		display none
	position fixed
	width 100%
	height 100%
	background-color #d7d7d7
	overflow auto
	top 0
	right 0
	transition: 0.5s cubic-bezier(1, -0.01, 0.07, 1.03)
	font-size: 130%;
	transform translate(100%, 0)
	z-index: 20;
	&.mobile_menu-active
		transform translate(0%, 0)
		
	.container
		flex-flow: row wrap;
		padding $overpadding
		align-content: space-between;
		height: 100%;
		padding 30px
		.location
			display: flex;
			flex: 1 1 100%;
			text-align: center;
			align-items: center;
			cursor pointer
			top 9px
			img
				margin: 0 5px 0 0
				width: .3rem;
				height: .3rem;
			span
				font-size: 13px
				font-weight: 500;

			&:hover
				span
					color $specialRed
		.mobile_menu_list
			padding 0
			margin 1rem 0
			flex: 1 1 60%;
			li
				font-weight: 700;
				line-height: 120%;
				a:hover
					color $specialRed
		.mobile_menu_feedback
			padding 0
			flex: 1 1 100%;
			order: 2;
			
			li.feedback_container
				font-weight: 700;
				line-height: 120%;
				text-align: center;
				display: flex;
				.inner
					display flex
					align-items center
					text-align: left;
					img
						width: 0.7rem;
						height: 0.7rem;
						margin: auto 0.4rem auto 0;
					&:hover span
						cursor pointer
						color $specialRed
					span 
						white-space: pre;
						&:nth-of-type(1)
							@media screen and (max-width: $iphoneH)
								display none
						
.slide_up_mobileMenu // animation for text appear
	max-height 150px
	li, div, span
		overflow hidden
		display block
		transform: translate(0, 150%)
		transition transform $slide_up_text
		transition-delay: 0s;
		line-height: 113%;
		& header
			opacity 0
		
	&.slide_up_mobileMenu--active
		max-height: initial;
		*
			display block
			transition $slide_up_text
			transform: translate(0, 0%)
			opacity 1
		> li, > div
			&:nth-child(1)
				span
					transition-delay: 0s
		> li, > div
			&:nth-child(2)
				span
					transition-delay: 0.1s
		> li, > div
			&:nth-child(3)
				span
					transition-delay: 0.2s
		> li, > div
			&:nth-child(4)
				span
					transition-delay: 0.3s
		> li, > div
			&:nth-child(5)
				span
					transition-delay: 0.4s
