section.hero
	background-color #FFF;
	display: flex;
	min-height: 100vh;
	background-image: -webkit-radial-gradient(bottom, rgba(29, 30, 30, 0.23) 30%, rgba(29, 30, 30, 0.13) 40%, #ffffff 70%); 
	.promo
		position: absolute;
		width: 100%;
		text-align: center;
		color: #ff002e;
		text-transform: uppercase;
		font-weight: 900;
		top: 30%;
		font-size: 13vw;

	.container
		flex-direction: column;
		max-height: 1200px;
		height: 100%;
		margin: auto auto 0;
		max-width: 100%;
		min-height: 100vh
		@media screen and (min-height $desktop) and (min-width: $ipad)
			max-height: $desktop;
		@media screen and (max-width: $iphone6)
			height auto
			padding: 2rem 15px 1rem;
		@media screen and (max-width: $iphoneH)
			min-height: 480px;
		
		&:after
			content: '';
			position: absolute;
			top: 0.5rem;
			background: url($goal01) no-repeat;
			background-size: contain;
			background-position: 100% 50%;
			height: 100%;
			width: 100%;
			z-index: 6;

		.screener
			z-index 10
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			flex: 1 0 auto;
			justify-content: center;
			margin auto
			min-width: 100%;
			.promoHero 
				position: absolute; 
				min-width: 100vw; 
				min-height: 100vh; 
				.img
					background: url("../images/guardsman_promo.png") 50% 100%/100vh no-repeat; 
					left: -15px; 
					min-width: 100vw; 
					min-height: 100vh; 
			@media screen and (max-width: 620px)
				max-width: 100%;
				padding 0
			@media screen and (max-width: $iphone)
				max-height: 1200px;
			@media screen and (max-width: $iphoneH)
				min-height: 100vh;
			.title
				color: #fff;
				text-align: center;
				font-weight: 300;
				margin: auto auto 0 auto;
				line-height: 130%;
				.takecontrol
					color $specialRed
					font-size 60%
					margin-top: 0.7rem;
			@media screen and (max-width: $iphone)
				font-size 90%
				line-height 100%
			button
				margin 1rem auto 3rem
