section.content.product-inner
	.container
		.title
			color: $darkgrey;
			margin: 1.5rem auto;
			font-weight: 900;
			text-transform: uppercase;
			word-spacing: 0.3rem;
			line-height: 90%;
			transition: 0.4s ease;
			text-align: center;
			font-size: 150%;
		ul.accordion_items
			accordion_items()
			margin: 1.6rem auto;
			li
				margin: 0.3rem 0;
		.steps_buttons
			steps_buttons()